In [14]:
with open("data/GNOME.en-si.en", "r", encoding="utf-8") as en_file:
  en_lines = en_file.readlines()
with open("data/GNOME.en-si.si", "r", encoding="utf-8") as si_file:
  si_lines = si_file.readlines()
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('sentence-transformers/LaBSE')
en_embeddings = model.encode(en_lines)
si_embeddings = model.encode(si_lines)

2025-04-28 15:34:58,504 | INFO | sentence_transformers.SentenceTransformer | Use pytorch device_name: cpu
2025-04-28 15:34:58,504 | INFO | sentence_transformers.SentenceTransformer | Load pretrained SentenceTransformer: sentence-transformers/LaBSE

Batches: 100%|██████████| 417/417 [02:32<00:00,  2.73it/s]
Batches: 100%|██████████| 417/417 [02:14<00:00,  3.09it/s]

In [15]:
import pandas as pd 
import numpy as np
df = pd.DataFrame({"English sentence": en_lines, "Sinhala sentence": si_lines})

In [16]:
from sklearn.metrics.pairwise import cosine_similarity
similarities = cosine_similarity(en_embeddings, si_embeddings)
similarity_scores = [float(vector.sum()) for vector in similarities]

In [17]:
df["Similarity score"] = similarity_scores
df.sort_values("Similarity score", ascending=False, inplace=True)
df

                        English sentence Sinhala sentence  Similarity score
8510                              C_ut\n     කපන්න (_u)\n       4299.609375
5937                              C_ut\n     කපන්න (_u)\n       4299.609375
4541                              C_ut\n     කපන්න (_u)\n       4299.609375
7241                              C_ut\n     කපන්න (_u)\n       4299.608398
6586                              C_ut\n     කපන්න (_u)\n       4299.608398
...                                  ...              ...               ...
2315  Move ~a onto the queen of clubs.\n   කලාබර ක්වීන්\n       -274.331848
1187  Move ~a onto the queen of clubs.\n   කලාබර ක්වීන්\n       -274.331848
2028  Move ~a onto the queen of clubs.\n   කලාබර ක්වීන්\n       -274.331848
2603  Move ~a onto the queen of clubs.\n   කලාබර ක්වීන්\n       -274.331848
1750  Move ~a onto the queen of clubs.\n   කලාබර ක්වීන්\n       -274.331848

[13321 rows x 3 columns]

In [18]:
df[df['Similarity score'] >= df["Similarity score"].quantile(0.9)]

      English sentence    Sinhala sentence  Similarity score
8510            C_ut\n        කපන්න (_u)\n       4299.609375
5937            C_ut\n        කපන්න (_u)\n       4299.609375
4541            C_ut\n        කපන්න (_u)\n       4299.609375
7241            C_ut\n        කපන්න (_u)\n       4299.608398
6586            C_ut\n        කපන්න (_u)\n       4299.608398
...                ...                 ...               ...
6554         _Print…\n          මුද්‍රණය\n       3612.876221
9116         _Print…\n          මුද්‍රණය\n       3612.876221
12109        _Print…\n  මුද්‍රණය... (_P)\n       3612.875977
7209         _Print…\n          මුද්‍රණය\n       3612.875977
10408        _Print…\n          මුද්‍රණය\n       3612.875977

[1333 rows x 3 columns]

In [19]:
import torch 
import argparse
torch.serialization.add_safe_globals([argparse.Namespace])
from laser_encoders import LaserEncoderPipeline
si_encoder = LaserEncoderPipeline(lang="sinhala")
si_embeddings = si_encoder.encode_sentences(si_lines)

2025-04-28 15:39:51,354 | INFO | laser_encoders.download_models |  - laser2.spm already downloaded
2025-04-28 15:39:51,421 | INFO | laser_encoders.download_models |  - laser3-sin_Sinh.v1.pt already downloaded
2025-04-28 15:39:51,421 | INFO | laser_encoders.download_models |  - laser2.spm already downloaded
2025-04-28 15:39:51,422 | INFO | laser_encoders.download_models |  - laser2.cvocab already downloaded

c:\Users\admin\anaconda3\envs\thesis\lib\site-packages\fairseq\models\transformer\transformer_encoder.py:281: UserWarning: The PyTorch API of nested tensors is in prototype stage and will change in the near future. We recommend specifying layout=torch.jagged when constructing a nested tensor, as this layout receives active development, has better operator coverage, and works with torch.compile. (Triggered internally at C:\actions-runner\_work\pytorch\pytorch\pytorch\aten\src\ATen\NestedTensorImpl.cpp:182.)
  x = torch._nested_tensor_from_mask(

In [20]:
en_encoder = LaserEncoderPipeline(lang="english")
en_embeddings = en_encoder.encode_sentences(en_lines)

2025-04-28 15:58:52,183 | INFO | laser_encoders.download_models |  - laser2.spm already downloaded
2025-04-28 15:58:52,261 | INFO | laser_encoders.download_models |  - laser2.pt already downloaded
2025-04-28 15:58:52,262 | INFO | laser_encoders.download_models |  - laser2.spm already downloaded
2025-04-28 15:58:52,263 | INFO | laser_encoders.download_models |  - laser2.cvocab already downloaded

In [21]:
similarities = cosine_similarity(en_embeddings, si_embeddings)
similarity_scores = [float(vector.sum()) for vector in similarities]

In [22]:
df["Similarity score_LS"] = similarity_scores
df.sort_values("Similarity score_LS", ascending=False, inplace=True)
df

,English sentence,Sinhala sentence,Similarity score,Similarity score_LS
10865,list\n,ලැයිස්තුව\n,4271.567383,7700.271973
9404,_File\n,ගොනු (_F)\n,4195.696777,7700.271973
13240,Example: username\n,උදාහරණය: පරිශීලක නාමය\n,3984.020996,7700.271973
10763,icon\n,නිරූපකය\n,3922.407227,7700.271973
3503,_View\n,දසුන (_V)\n,4018.018066,7700.271973
...,...,...,...,...
8519,_Documents\n,ලේඛන\n,3742.966797,2880.132568
10573,Import project\n,ව්‍යාපෘතිය වින්‍යාසකරණය කරන්න\n,2770.343750,2872.951172
175,Value\n,අගය\n,2869.798096,2872.951172
8790,Unicode\n,යුනිකේත\n,2338.416504,2872.951172
10625,Build library as\n,ටාබෝලය නිමවන්න\n,2190.415771,2872.951172